@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

header, footer {
    background-color: rgba(60, 69, 67, 0.6);

}

body {
    font-family: 'Poller One', cursive;
    background-image: url("img/sky.jpg");
    color: #d8c97b;
    background-attachment: fixed;
}

header {
    border-radius: 15px 15px 0 0;
    font-size: 1rem;
}

header > h1 {
    font-size: 2em;
}

.btn-danger {
    background-color: rgba(204, 3, 35, 0.5);
    border-color: red;
    font-size: 1em;
    color: #d8c97b;

}


footer {
    border-radius: 0 0 15px 15px;
    height: 4em;

}

.border {
    border-radius: 0 0 15px 15px;
    border-color: #d8c97b!important;
}





.farGalaxy {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.5;
    text-align: justify;
}

.bottomLeft {
    border-bottom-left-radius: 15px;
}

.bottomRight {
    border-bottom-right-radius: 15px;
}

.hero {
    box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

footer .btn {
    font-size: 0.8em;

}

.email {
    color: black;
    font-size: 1.2em;
}

.right > div {
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    justify-content: space-evenly;
}


